
DEBUG_MODE = true

config.order_tree = make_order_tree(
	-- extension order
	{"", "e1", "e2"},
	-- order nodes
	{
		N("x", {
			N("a"),
			N("b"),
		}),
		N("y", {
			N("1"),
			N("2"),
		}),
	},
	-- explicit path values
	{
		["always_root"] = 0,
		["x/always_root"] = 1,
		["y/always_root"] = 2,
	}
)

config.exclusions = make_inverse_table({})
config.extension_filter = make_inverse_table({
	"h"
})

config.paths = {
	"sort"
}

config.override_path_value = function(order_tree, path, extension, computed_value)
	if computed_value ~= nil and extension == "always_tail" then
		-- Force to the bottom of the include block (relative to max node value)
		return -1
	end
	return computed_value
end
