
DEBUG_MODE = true

local config = new_config()

config.order_tree = make_order_tree(
	-- tree
	{
		R("x", {
			N("a"),
			N("b"),
		}),
		R("y", {
			N("1"),
			N("2"),
		}),
	},
	-- extension order
	{"", "e1", "e2"},
	-- path value
	{
		["always_root"] = 0,
		["x/always_root"] = 1,
		["y/always_root"] = 2,
	},
	-- value filter
	function(config, path, extension, path_value, extension_value)
		if extension == "always_tail" then
			-- Force to the bottom of the include block (relative to max node value)
			return -1, extension_value
		end
		return path_value, extension_value
	end
)

config.exclusions = make_inverse_table({})
config.extension_filter = make_inverse_table({
	"h"
})

config.paths = {
	"sort"
}

return config
